@model Assignment3_n01455211.Models.Class
@{
    ViewBag.Title = "Ajax Update";
}

@{

    /*
    This file uses a combination of server rendering and ajax logic.
    - Server Rendering to pull current information about the author and display in fields
    - Request to update course with new values is fulfilled by ajax
    */
}

<div id="containershow">
    <nav>
        <a class="back" href="/Class/List">Back To Course</a>
    </nav>
    <h2>Update @Model.Classcode @Model.Classname  </h2>
    @{
        /* AJAX Request to update course */
        /* No form submission needed */
        /* button onclick will handle form submission */
        /* Each item has an ID for validation && ajax submission */
    }
    <div class="inputrow">
        <label for="Classcode">Course Code:</label>
        <div>
            <input type="text" id="Classcode" name="Classcode" value="@Model.Classcode" />
        </div>
    </div>
    <div class="inputrow">
        <label for="Classname">Course Name:</label>
        <div>
            <input type="text" id="Classname" name="Classname" value="@Model.Classname" />
        </div>
    </div>
    <div class="inputrow">
        <label for="Teacherid">Teacher ID:</label>
        <div>
            <input type="number" id="Teacherid" name="Teacherid" value="@Model.Teacherid" />
        </div>
    </div>
    <div class="inputrow">
        <label for="Startdate">Start Date:</label>
        <input type="date" id="Startdate" name="Startdate" value="@Model.Startdate" />
    </div>
    <div class="inputrow">
        <label for="Finishdate">Finish Date:</label>
        <input type="date" id="Finishdate" name="Finishdate" value="@Model.Finishdate" />
    </div>
    @{
        //AddClass() is a JS method defined in /Scripts/javascript1.js
    }
    <button onclick="UpdateClass(@Model.ClassId);">Update Course</button>
</div>
