@model Assignment3_n01455211.Models.Class

@{
    ViewBag.Title = "Course Details";
}

<div id="containershow">
    <h2>@Model.Classname</h2>
    <div><span class="title">Course Code:</span> @Model.Classcode</div>
    <div><span class="title">Course Instructor:</span> <a href="/teacher/Show/@Model.Teacherid"> @Model.Teachername</a></div>
    <div><span class="title">Start Date:</span> @Model.Startdate</div>
    <div><span class="title">End Date:</span> @Model.Finishdate</div>

</div>
<div id="backbutton">
    <a class="back" href="/Class/List">Back</a>
</div>