<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">           
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Teacher List", "Index", "Teacher/List", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Course List", "Index", "", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Student List", "Index", "", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Help", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        
        <footer class="footer">
           
            <p>This is Assignment 3 for the Course HTTP5101 - Web Application Development.</p>
            <p> Course Instructor: Christine Bittle.</p>
            <p> Developed and submitted by Danyal Effendi.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
