@model Assignment3_n01455211.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p><span id="title"></span>Empoyee Number:</span> @Model.EmployeeNumber</p>
    <p><b><u>Salary:</u></b> @Model.Salary</p>
    <p><b><u>Hiring Date:</u></b> @Model.HireDate</p>
    

</div>